  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-block">
        <h4 class="card-title"><%= article.title %></h4>
          <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning'%>
          <%= link_to 'Delete', article_path(article), :method => :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?"}  %>
        </div>
      </div>
    </div>
  </div>