<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Tan's Articles</h1>
  <h3>My Rails application for CoderSchool!</h3>

<%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
  
</div>
